<div>
    <h1>Chat</h1>
    <input id="textbox">
    <p id="log"></p>
</div>

{{!-- saludo emergente --}}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{{!-- para acceder a node modules --}}
<script src="/socket.io/socket.io.js"></script>;
{{!-- interactua con el archivo inndex.js --}}
<script src="/js/home.js"></script>

